<div class="product">
  <p class="product_id">
    ID: <%= @product.id %>
  </p>

  <p class="product_name">
    Name: <%= @product.name %>
  </p>

  <p class="product_description">
    Description: <%= @product.description %>
  </p>

  <p class="product_status">
    Status: <span style="color: grey;"><%= @product.status %></span>
  </p>
</div>

<%# <%= render(ProductComponent.new(product: @product)) %1> %>
